body::before {
    background-image: url("../images/mount_smaller.png");
}

.place-title {
    font-size: 2.5rem;
    color: white;
}

.place-sub-title {
    font-size: 1.875rem;
}

.ftbDsc {
    color: gold;
}

#dscHolder {
    margin-bottom: 200px;
    margin: auto;
    text-shadow: 1px 1px #000000;
    line-height: 2;
}

#passionDsc {
    font-family: 'Times New Roman', Times, serif;
}
