a.custom-link:link {
  color: lightgreen;
  background-color: transparent;
}

a.custom-link:visited {
  color: lightgreen;
  background-color: transparent;
}

a.custom-link:hover {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

a.custom-link:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}