.btnHolder {
    display: flex;
    justify-content: center;
    gap: 10px;
    text-align: center;
    flex-wrap: wrap;
}

.socialHolder {
    display: flex;
    justify-content: space-around;
    gap: 25px;
    text-align: center;
    flex-wrap: wrap;
}

.socialHolder p {
    margin: 0;
}

.social-a {
    text-decoration: none;
}

.social {
    background-color: orange;
    padding: 10px;
    border-radius: 10px;
    font-size: 2.5rem;
    display: inline-block;
    justify-content: center;
}

.social:hover {
    color: white;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3,
    0 0 80px #2196f3;
}

.social-youtube {
    color: #FF0000;
}

.social-facebook {
    color: #4267B2;
}

.social-discord {
    color: #5865F2;
}

.social-x {
    color: #000000;
}

.social-wiki {
    color: purple;
}
