.neonLight {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #2196f3;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 1.6rem;
    overflow: hidden;
    transition: 0.2s;
    background-color: rgb(0, 0, 128, 0.7);
    width: max-content;
    max-width: 95%;
    overflow-wrap: break-word;
    box-sizing: border-box;
    border: 2px solid #000000;
}

.neonLight:hover {
    color: #255784;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3,
    0 0 80px #2196f3;
    transition-delay: 1s;
}

.neonLight span {
    position: absolute;
    display: block;
}

.neonLight span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg ,transparent, #2196f3);
}

.neonLight:hover span:nth-child(1){
    left: 100%;
    transition-duration: 0.5s;
}

.neonLight span:nth-child(2) {
    right: 0;
    top: -100%;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg ,transparent, #2196f3);
}

.neonLight:hover span:nth-child(2) {
    top: 100%;
    transition-duration: 0.5s;
    transition-delay: 0.25s;
}

.neonLight span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg ,transparent, #2196f3);
}

.neonLight:hover span:nth-child(3) {
    right: 100%;
    transition-duration: 0.5s;
    transition-delay: 0.5s;
}

.neonLight span:nth-child(4) {
    left: 0;
    bottom: -100%;
    width: 2px;
    height: 100%;
    background: linear-gradient(0deg ,transparent, #2196f3);
}

.neonLight:hover span:nth-child(4) {
    bottom: 100%;
    transition-duration: 0.5s;
    transition-delay: 0.75s;
}

@media (max-width: 768px) {
    .neonLight {
        padding: 20px 10px;
    }
}