/* Basic styling for the form container */
.newsletter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    padding: 20px;
}

/* Style for the card itself */
.newsletter-card {
    background: darkslateblue;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px 40px;
    width: 100%;
    max-width: 900px;
}

.newsletter-header {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-size: 2rem;
    color: white;
    margin-bottom: 30px;
    margin-top: 0;
    text-align: center;
}

/* Styling for the form and its elements */
.newsletter-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.newsletter-form input {
    padding: 25px 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 1.5rem;
    width: 100%;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

.newsletter-form input:focus {
    outline: none;
    border-color: #5a5acd;
}

.newsletter-form button {
    background-color: #5a5acd;
    color: #ffffff;
    border: none;
    padding: 25px 20px;
    border-radius: 8px;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.newsletter-form button:hover {
    background-color: #4343d3;
    transform: translateY(-2px);
}

/* Styling for the new unordered list */
.newsletter-list {
    text-align: left;
    list-style-type: disc;
    margin: 0;
    padding: 0;
    margin-bottom: 20px
}

.newsletter-list li {
    font-family: Arial, sans-serif;
    font-size: 1.5rem;
    color: white;
    margin-bottom: 10px;
    line-height: 1.5;
    margin-left: 20px;
}

@media (max-width: 768px) {
    .newsletter-container {
        width: calc(100% - 10px);
        padding: 5px;
    }

    .newsletter-card {
        padding: 20px 10px;
        width: 100%;
        max-width: 100%;
    }

    .newsletter-header {
        font-size: 2rem;
        text-align: center;
    }

    .newsletter-list li {
        font-size: 1.5rem;
        color: white;
        margin-bottom: 10px;
        margin-left: 20px;
    }
}