a.policy_link:link {
  color: lightgreen;
  background-color: transparent;
}

a.policy_link:visited {
  color: lightgreen;
  background-color: transparent;
}

a.policy_link:hover {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

a.policy_link:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}