@font-face {
  font-family: 'DynaPuff';
  src: url('../fonts/DynaPuff-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DynaPuff';
  src: url('../fonts/DynaPuff-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playpen_Sans';
  src: url('../fonts/PlaypenSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playpen_Sans';
  src: url('../fonts/PlaypenSans-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body::before {
    background-image: url("../images/mount_smaller.avif");
}

.cover {
    min-height: 0px;
    margin: 10px 10px 0px 10px;
}

.header-cover {
    min-height: 0px;
    margin: 40px 10px 10px 10px;
}

.subheader-cover {
    min-height: 0px;
    margin: 20px 10px 10px 10px;
    font-size: 2.4rem;
}

@media (max-width: 768px) {
    .subheader-cover {
        font-size: 2.1rem;
        padding: 0px 5px 5px 5px;
    }
}